
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

.founder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.quote{
    display: inline-block;
    font-family: "Charm", cursive;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 1.5rem 0;
}

.founder__heading{
    text-align: center;
    margin: 2.2rem 0 1rem 0;
    font-weight: 600;
}

.founder__name{
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 1.2rem 0 1rem 0;
    font-weight: 400;
}

.founder__images{
    display: flex;
}


.panel.active{
    flex: 3;    
}

.founder__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    flex-grow: 2;
}

.btn__start{
    width: 25rem;
    justify-content: center;
    align-items: center;
}

.profile{
    border-radius: 50%;
}

.talk{
    color: var(--color-primary-500);
}

.talk:hover{
    background-color: var(--color-secondary);
    color: white;
    transition: all 0.5s ease;
}

@media screen and (min-width: 768px){
    .founder{
        display: flex;
        flex-direction: row;
        padding: 4rem 3rem;
        justify-content: center;
        align-items: center;
    }

    .founder__header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 5rem;
    }

    .founder__heading{
        font-size: 3rem;
        text-align: center;
        line-height: 1.3;
        margin: 2.2rem 0 0.5rem 0;

    }

    .founder__name{
        color: black;
        text-align: left;
        font-size: 2.5rem;
        margin: 2.3rem 0 1.5rem 0;
        font-weight: 400;
    }

    .quote{
        text-align: left;
        font-size: 4rem;
        padding: 0 0 1.2rem 0;
        margin: 0 8rem 0 0;
    }

    .profile{
        height: 30rem;
        width: 30rem;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (min-width: 1024px) {
    .founder__heading{
        font-size: 3.5rem;
    }

    .founder__heading{
        font-size: 3.2rem;
        text-align: left;
        line-height: 1.3;
        font-weight: 600;
    }

    .founder__name{
        color: black;
        text-align: left;
        font-size: 2.3rem;
        margin: 1rem 0;
        font-weight: 400;
    }

    .profile{
        height: 30rem;
        width: 30rem;
    }

}




.founder__photo{
    position: relative;
    flex-basis: 1;
}

.colors{
    position: absolute;
    top: 0;
    right: 0;
}

.color-one{
    position: absolute;
    top: auto;
    bottom: -20px;
    left: 20px;
    background-color: rgba(199, 200, 202, 0.8);
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    z-index: -5;
}

.color-two{
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: rgba(8, 64, 206,0.3);
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    z-index: -6;
}

.color-three{
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: rgba(18, 158, 233, 0.3);
    border-radius: 100%;
    height: 8rem;
    width: 8rem;
    z-index: -5;
    }

