.swiper2 {
    width: 100px;
    height: 100px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
  }

.mobile__card{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 5rem; */
  /* padding: 5rem ; */
}

