/* .hero{
    position: relative;
    left: 0;
    background-image: url('../../assets/HeroImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.hero__heading{
    font-size: 4.5rem;
    text-align: center;
    color: white;
    text-shadow: black;
    cursor: default;
}
.hero__heading_small{
    font-size: 4.5rem;
    padding: 2rem 0;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-align: center;    
    transition: all 0.1s ease-in;
}

.hero__heading_small:hover{
    transform: scale(1.045);
    cursor: default;
}

.hero__images{
    display: flex;
}

.panel.active{
    flex: 3;    
}

.hero__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50% 0;
    position: relative;
    z-index: 10;
}

.btn__start{
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2rem;
    transition: background-color 0.3s ease-in;
}

.btn__start:hover{
    box-shadow: none;
    background-color: var(--color-secondary);
}

@media screen and (min-width: 768px){
    .hero{
        display: flex;
        flex-direction: row;
        padding: 16rem 0;
        align-items: center;
    }

    .hero__header{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
    }

    .hero__images{
      height: 50rem;
      justify-content: center;
      align-items: center;
    }

    .hero__heading{
        font-size: 6rem;
        text-align: center;
        line-height: 1.3;
    }
}

@media screen and (min-width: 1024px) {
    .hero__heading{
        font-size: 8rem;
        text-align: left;
    }
    .hero__heading_small{
        font-size: 7rem;
        padding: 2rem 0;
        text-align: center;
    }

    .btn__start{
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: 2.5rem;
        transition: background-color 0.3s ease-in;
    }

    .btn__start:hover{
        box-shadow: none;
        background-color: var(--color-secondary);
    }

    .hero__header{
        align-items: flex-start;
    }
    .hero__images{
    }
}

.swiper {
    width: 28rem;
    height: 35rem;
  }
  
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    right: 0;
    z-index: 10;
} */


/* Parallel Website Effects */

/* .hero {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    color: #fff;
    background: url('../../assets/buiding.jpg');
    background-repeat: no-repeat;


  }
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9); 
    z-index: 10;
  }
  
  .hero__header {
    position: relative;
    z-index: 15;
    text-align: center;
  }
   */

   /* General Hero Styles */
.hero {
    position: relative;
    height: 125vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
  }
  
  .hero__content {
    position: relative;
    z-index: 10;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5rem;

  }
  
  .hero__heading {
    font-size: 6.5rem;
    margin-bottom: 1rem;
    padding: 2rem 0;
    color: transparent;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    text-align: center;  
    font-weight: bolder;  
    transition: all 0.1s ease-in;
  }
  
  .hero__subheading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  /* Parallax Layers */
  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 0;
  }
  
  .parallax-layer--back {
    z-index: 1;
    background-image: url('../../assets/newbg.jpg');
  }
  
  .parallax-layer--middle {
    z-index: 2;
    background-image: url('../../assets/jax.webp');
    position: absolute;
    top: 80px;
  }
  
  .parallax-layer--front {
    z-index: 5;
    background-image: url('../../assets/foreground-front.webp');
    mix-blend-mode: multiply; 
  }
  
/* 
 .hero__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 4rem 0;
      padding: 2rem;  
   }

   .hero__heading{
    font-size: 6rem;
    line-height: 1.2;
   }

   .btn--oval{
      font-size: 2rem;
      margin: 1.8rem 0;
      transition: background-color 0.15s ease-in;
   }

   .btn--oval:hover{
    background-color: #0797e9;
    box-shadow: none; 
  }


  @media screen and (min-width: 1024px) {
    .hero__heading{
      font-size: 7.5rem;
     }
  }  */