
.contact{
    display: flex;
    flex-direction: column; 
    padding: 0 2rem;
}

.footer {
    /* background-image: url('../../images/bgIMGcloud.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem 0;
    
    
}

.form {
    
    padding: 2rem;
    border: 1px solid #ccc;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: rgb(235, 233, 233);
    box-shadow: 0 0 100px 1px var(--secondary-blue-light-color);
}

.input[type="name"],
.input[type="email"],
textarea {
    width: 100%;
    display: inline-block;
    padding: 2rem;
    margin-bottom: 1rem;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.15s, box-shadow 0.15s;
    font-family: Arial, Helvetica, sans-serif;

}

textarea {
    resize: none;
}

.form__heading {
    margin: 0 0 1rem;
}

.input-submit {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    outline: 0;
    border: 0;
    background-color: rgb(2, 35, 101);
    color: white;
    border-radius: 5px;   

}

.input-text{
    font-size: 1rem;
}

::placeholder {
    font-weight: 200;
    font-size: 2.8rem;
    color: rgb(163, 162, 162);
    font-family: Arial, Helvetica, sans-serif;
}


.skills__head-text {
    color: black;
    text-align: center;
    padding: 2rem 0 0 0;
}

.contact__paragraph{
    margin: 1rem 0;
    color:rgb(0, 0, 0);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 1.5rem 0;
  
}

.contact__container{

}

.social__platform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 0 0;
}

.social__platform__heading{
    text-align: center;
    color: black;
    font-size: 2.8rem;
}

.social__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
    
}

.icon{
    height: 45px;
    width: 45px;
    margin: 1rem 1rem 1rem 1rem;
    transition: transform 0.2s ease-in ;

}

.feedback__text{
    padding: 2rem 0;
    font-size: 3rem;
    color: orange;

}

.feedback__message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.copyright {
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    }

    .copyright__paragraph {

        font-size: 1.3rem;
        color: rgb(0, 0, 0);
        margin: 1rem 0 0 0;
        padding: 0 1rem 0 1rem;

    }


.footer__logo {
    width: 15rem;


}

::placeholder{
    color: rgb(165, 161, 161);
    font-weight: 500;
    font-size: 1.5rem;
}