.logo{
    /* position: fixed;
    left: 0;
    top: 5px;
    object-fit: contain;
    width: 160px;
    padding-left: 20px;
    cursor: pointer;
    height: 100px; */
    /* height: 100px; */
    width: 180px;
    position: relative;
    left: 0;
    top: 5px;
    cursor: pointer;
    z-index: 12;
/* 
    animation-name: logos;
    animation-delay: 4s; */
}

nav{
    width: 100%;
    background: var(--color-white);
    color: #38B6FF;
    padding: 1rem 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 15;
    padding: 0 2.5%;
}


/* nav ul{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--color-primary-100);
    z-index: -1;
    width: 80%;
    padding-top: 10rem;
    transition: 0.5s;
}

nav ul li{
    display: block;
    text-align: left;
    margin: 2.5rem 4rem;
}

*/


nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 5px 20px;
    font-size: 1.5rem;
}


.menu{
    display: none;
}

ul li .btn {
    margin: 0;
    font-size: 1.4rem;
} 

a{
    color:var(--color-primary-400);
}

a:visited{
    color:var(--color-primary-400);
}

a:active{
    color:var(--color-primary-400);
}


@media screen and (max-width: 1024px) { 
    .logo{
        width: 140px;  
        position: relative;
        z-index: 12;
    }

    nav ul li{
        margin: 10px 15px;
    }

}

@media screen and (max-width: 768px) { 
    nav{
        padding: 15px 0;  
    }

    .logo{
        position: relative;
        left: 25px;
        z-index: 12;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--color-primary-100);
        z-index: -1;
        width: 70%;
        padding-top: 10rem;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 2.5rem 4rem;
        padding: 0.5rem 0;
        font-size: 2.5rem;

    }

    ul li .btn {
        margin: 0;
        font-size: 2rem;
    } 

    .menu{
        display: block;
        width: 45px;
        cursor: pointer;
        margin: 0 25px;
    }

    .hide-mobile-menu{
        width: 0%;
    }    
}


@media screen and (max-width: 500px) {
    .logo{
        width: 110px;
        z-index: 12;
    }

}

@media screen and (min-width: 768px) {
    nav ul li{
        font-size: 1.5rem;
    }
    nav ul li:hover{
        transform: translateY(-5px);
        transition: all 0.15s;
    }

    ul li .btn{
        font-size: 1.5rem;
    }
    ul li .btn:hover{
        transform: scale(1.05);
    }
}

@media screen and (min-width: 1024px) {
    nav ul li{
        font-size: 2rem;
    }
    ul li .btn {
        font-size: 2rem;
    } 
}



/* 
@keyframes logos {
    0%   {
        transform: scale(0);
    }
    25%  {
        transform: scale(1.5);
    }
    50%  {
        rotate: 15deg;
    }
    75%{
        rotate: -15deg;
    }
    100% {
        transform: scale(2);
    }
  } */

